:root {
    --first-color-text:#000;
    --second-color-text: #4D5AE5;
    --color-text:#333;
    --color-heading:#2E2F42;
    --color-text: white;
    --color-background: #404BBF;
    --border-color: #E7E9FC;
    --color-back: #F4F4FD;
    }

body {
    font-family: 'Roboto' sans-serif;
    color: var(--color-text);
    line-height: 1.6;
}

header {
    color: var(--color-heading);
    background-color: white ;
    font-family:'Raleway', sans-serif;
}

.logo {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color:var(--second-color-text);
}
.link {
    text-decoration: none;
    text-transform: uppercase;
}
   
.studio-header {
    color: var(--color-heading);
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;

}

.list {
    color:var(--color-heading);
    background-color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.list-item-nav {
    color:var(--color-heading);
    text-decoration: none;
}

.contact {
    text-decoration: none;
    text-transform: lowercase;
    color: var(--color-heading);
    background-color: white;
}

.contact:hover, .contact:focus
 {    background-color: var(--color-background);
}
.list-button {
    color: var(--second-color-text);
    font-weight: 500;
}

.btn-all {
    color: white;
    background-color: var(--color-background);
    border: 1px solid var(--border-color)
}

.btn {
    color: var(--second-color-text);
    background-color: var(--color-back);
    border: 1px solid var(--border-color)
}

.images {
    border: 1px solid var(--border-color)
}

.header-list {
    color: var(--color-heading);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
}

.image-text {
    color:#434455;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
}

.studio-header-footer {
    color: var(--color-back);
}
.page-footer {
    color:white;
    background-color: var(--color-heading);
}